/*
============================================
============= Custom Scroll Bar CSS ================
*/
body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $color-white;
  outline: 1px solid $color-eerie-black;
  border-radius: 10px;
}

/*
============================================
============= Custom Scroll Bar CSS End ================
*/

/* Custom Cursor */
.cursor {
  pointer-events: none;
  @extend %p-fixed;
  height: 10px;
  width: 10px;
  background-color: $color-white;
  border-radius: 50%;
  mix-blend-mode: exclusion;
  transition: transform 0.3s ease, opacity 0.4s ease;
  z-index: 99999;
  @include transform(translate(-50%, -50%) scale(1));
}

.cursor-active {
  @include transform(translate(-50%, -50%) scale(4));
  opacity: 0.1;
  cursor: pointer;
}

/* Custom Cursor End */

/*
============================================
============= Preloader CSS ================
*/
.preloader {
  @extend %p-fixed, %d-flex, %item-center, %justify-center;
  z-index: 10;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background: transparent;
  z-index: 99999999999999;

  svg {
    @extend %p-absolute;
    top: 0;
    width: 100vw;
    height: 110vh;
    fill: $color-eerie-black;
  }

  .preloader-text {
    @extend %p-absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    font-size: 100px;
    color: $color-isabelline;

    @media (max-width: 1040px) {
      font-size: 60px;
    }

    &::after {
      content: attr(data-content);
      position: absolute;
      left: 0;
      top: 0;
      color: $color-fern-green;
      -webkit-animation: move 2s infinite alternate;
      animation: move 2s infinite alternate;
    }
  }
  &.dark {
    .preloader-text {
      &::after {
        color: $color-lime;
      }
    }
  }
}

/*
============= Preloader CSS END ================
================================================
*/

.section {
  &__header {
    .image-shap {
      @extend %d-inline-block, %mr-15;
      max-width: 130px;
      height: 70px;
      width: 100%;
      line-height: 1;
      border-radius: 35px;
      overflow: hidden;

      @include breakpoint(max-xl) {
        max-width: 140px;
        height: 70px;
      }
      @include breakpoint(max-md) {
        max-width: 100px;
        height: 50px;
      }

      img {
        @extend %w-100, %h-100;
      }
    }
  }
  &__title {
  }
  &__sub-title {
    &.pill-sub-title {
      color: $color-lime;
      @extend %text-uppercase, %text-medium, %d-inline-flex, %item-center;
      border: 1px solid $color-lime;
      font-size: 16px;
      border-radius: 18px;
      padding: 0 25px;
      gap: 10px;
      line-height: 34px;

      i {
        font-size: 8px;
      }

      @include breakpoint(max-md) {
        font-size: 12px;
        line-height: 24px;
        padding: 0 15px;
        gap: 5px;
      }
    }
    &.code {
      color: $color-lime;
      font-size: $fs-18;
      line-height: 155.56%;
      margin-bottom: 20px;
      @extend %text-medium, %d-block;
    }
  }
  &__big-title {
    @extend %text-uppercase;
    line-height: 1;
    font-size: $fs-h1;
    // $fs-h1: 190px;

    &.ff-six-caps {
      @include breakpoint(xxl) {
        font-size: 200px;
      }
    }

    @include breakpoint(max-xxl) {
      font-size: calc($fs-h1 - 40px);
    }
    @include breakpoint(max-xl) {
      font-size: calc($fs-h1 - 60px);
    }
    @include breakpoint(max-lg) {
      font-size: calc($fs-h1 - 80px);
    }
    @include breakpoint(max-md) {
      font-size: calc($fs-h1 - 100px);
    }
    @include breakpoint(max-sm) {
      font-size: calc($fs-h1 - 120px);
    }

    a,
    p {
      color: inherit;
      line-height: inherit;
      @extend %d-inline-block;
      font-weight: inherit;
    }

    span.text-stroke {
      -webkit-text-stroke: 2px $color-eerie-black;
      -webkit-text-fill-color: transparent;
      @include transition($transition);
      display: inline-block;
    }

    &.color-white {
      color: $color-white;
      span.text-stroke {
        -webkit-text-stroke: 2px $color-white;
      }
    }
  }
}
.inner {
  &-hero {
    &-area {
    }

    &__content {
      .hero-title {
        @extend %text-uppercase;
        font-size: 120px;
        margin-bottom: 20px;

        @include breakpoint(max-xxl) {
          font-size: calc(100px);
        }
        @include breakpoint(max-xl) {
          font-size: calc(90px);
        }
        @include breakpoint(max-lg) {
          font-size: calc(80px);
        }
        @include breakpoint(max-md) {
          font-size: calc(70px);
          margin-bottom: 10px;
        }
        @include breakpoint(max-sm) {
          font-size: calc(45px);
        }
      }

      p {
        @extend %text-semi-bold;
        max-width: 640px;
        margin: 0 auto;

        @include breakpoint(lg) {
          font-size: calc(20px);
        }

        @include breakpoint(max-xl) {
          max-width: 500px;
        }
        @include breakpoint(max-md) {
          max-width: 480px;
        }

        &.extend {
          max-width: 850px;

          @include breakpoint(max-xl) {
            max-width: 700px;
          }
          @include breakpoint(max-md) {
            max-width: 680px;
          }
          @include breakpoint(max-sm) {
            max-width: 480px;
          }
        }
      }

      .common-btn {
        margin-top: 30px;

        @include breakpoint(lg) {
          margin-top: 20px;
        }
      }
    }
  }
}

.lines {
  &__container {
    @extend %d-flex, %justify-between, %p-absolute;
    top: 0;
    left: 50%;
    max-width: calc(100% - 120px);
    height: 100%;
    @include transform(translateX(-50%));
    z-index: -1;

    @include breakpoint(max-xl) {
      max-width: calc(100% - 80px);
    }
    @include breakpoint(max-md) {
      display: none;
    }
  }
  &__left,
  &__right {
    @extend %d-flex;
    gap: 65px;
    span {
      @extend %d-block, %h-100;
      width: 1px;
      background-color: $color-isabelline;
    }

    @include breakpoint(max-lg) {
      gap: 40px;
    }
  }
  &__left {
  }
  &__right {
  }
}

.before-shape {
  position: relative;
  border-radius: 35px 35px 0px 0px;
  @include breakpoint(max-md) {
    border-radius: 20px 20px 0px 0px;
  }

  &::before {
    @extend %p-absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 60px);
    height: 100%;
    border-radius: 35px;
    @include transform(translate(-50%, -10px));
    z-index: -1;
    background-color: rgba($color-eggshell, 0.5);

    @include breakpoint(max-md) {
      border-radius: 20px;
      width: calc(100% - 30px);
    }
  }
}
.after-shape {
  position: relative;
  border-radius: 0px 0px 35px 35px;
  @include breakpoint(max-md) {
    border-radius: 0px 0px 20px 20px;
  }

  &::after {
    @extend %p-absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 60px);
    height: 100%;
    border-radius: 35px;
    @include transform(translate(-50%, 10px));
    z-index: -1;
    background-color: rgba($color-eggshell, 0.5);

    @include breakpoint(max-md) {
      border-radius: 20px;
      width: calc(100% - 30px);
    }
  }
}
.before-shape {
  &.after-shape {
    position: relative;
    border-radius: 35px;

    @include breakpoint(max-md) {
      border-radius: 20px;
    }
  }
}

.split-text {
  overflow: hidden;
}

@include breakpoint(xxl) {
  .g-xxl-4-5,
  .gx-xxl-4-5 {
    --bs-gutter-x: 30px !important;
  }

  .g-xxl-4-5,
  .gy-xxl-4-5 {
    --bs-gutter-y: 30px !important;
  }
}
.rfm-marquee-container {
  overflow: hidden;
}
.scroll-to-top {
  border-radius: 50% !important;

  svg {
    width: 20px !important;
    height: 20px !important;
  }
}
